@import 'App';

main#appContainer {
    min-height: 100vh;
    
    img#angelusProductionsLogo {
        position: absolute;
        top: -22vw;
        left: 17vw;
        width: 70vw;
        animation: slow-bounce 1.5s ease-in-out infinite 0s;
    }
    
    div#servicesContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        
        img.service {
            width: 30%;

            &:nth-of-type(1) {
                animation: cloud-hover 4s ease-in-out infinite 0s;
            }
            &:nth-of-type(2) {
                animation: cloud-hover 4s ease-in-out infinite 1s;
            }
            &:nth-of-type(3) {
                animation: cloud-hover 4s ease-in-out infinite 2s;
            }
        }
    }
}

@keyframes cloud-hover {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes slow-bounce {
    0% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#imdbIcon img {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

div#socialLinksContainer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

div#homeTabsHeadersContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin: 50px;
}

h1.tabName {
    cursor: pointer;
    font-size: 5vw;
}

h1.tabName.selectedTab {
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 10px 0px 0px #FF00B8;
}

#homeTabForMusic,
#homeTabForActing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#homeTabForMusic {
    .linkContainer {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

#homeTabForWeb {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding: 0 10vw;

    .githubScreenshotImage {
        object-fit: cover;
    }

    .githubUrls {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
    }
}